button {
    white-space: nowrap;

    &.btn-round {
        border: none;
        outline: none;
    }
}

a {

    &.btn-round {
        display: inline-flex;
        align-items: center;
    }
}

.btn-round {
    transition: $trans;
    background-color: $btn-main-bg;
    border-radius: $btn-height-pc / 2;
    border-radius: calc(#{$btn-height-pc} / 2);
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: 'PermianSerifTypeface', Arial, Helvetica, sans-serif;
    font-size: $btn-font-size-pc;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    padding: 0 45px;
    height: $btn-height-pc;
    
    &:hover {
        background-color: lighten($btn-main-bg, 10%);
    }

    @include media (w1024) {
        border-radius: $btn-height-tablet / 2;
        border-radius: calc(#{$btn-height-tablet} / 2);
        font-size: $btn-font-size-tablet;
        height: $btn-height-tablet;
    }

    @include media (w768) {
        border-radius: $btn-height-mobile / 2;
        border-radius: calc(#{$btn-height-mobile} / 2);
        font-size: $btn-font-size-mobile;
        padding: 0 20px;
        height: $btn-height-mobile;
        width: 100%;
    }

    &_red {
        background-color: $red-main;

        &:hover {
            background-color: lighten($red-main, 10%);
        }
    }

    &_white {
        background-color: white;
        color: black;

        &:hover {
            background-color: $brown-main;
            color: white;
        }
    }

    &_download {
        margin-left: -40px;
        position: relative;

        @include media (w1024) {
            margin-left: -20px;
        }

        @include media (w768) {
            margin-left: auto;
        }

        &:after {
            content: "PDF, 20 Mb";
            font-family: 'PermianSerifTypeface', Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: normal;
            position: absolute;
            left: calc(100% + 20px);
            white-space: nowrap;

            @include media (w1024) {
                font-size: 18px;
            }

            @include media (w768) {
                display: none;
            }
        }
    }

    &_download-column {
        margin-bottom: 50px;

        &:after {
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: calc(100% + 10px);
        }
    }

    &_clear {
        
        &:after {
            content: none;
        }
    }
}

@keyframes btnAnimRed {
    from {
        box-shadow: 0 0 8px 6px $btn-main-bg, 0 0 12px 14px $btn-main-bg;
    }
    to {
        box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
    }
}

@keyframes btnAnimWhite {
    from {
        box-shadow: 0 0 8px 6px white, 0 0 12px 14px white;
    }
    to {
        box-shadow: 0 0 18px 6px rgba(255, 48, 26, 0), 0 0 4px 71px rgba(255, 48, 26, 0);
    }
}