a {
    color: black;
    display: inline-block;
    transition: $trans;
}

.link {
    text-decoration: none;

    &_getcall {
        border-bottom: 2px dotted currentColor;
        font-size: 20px;

        @include media(w1024) {
            font-size: 14px;
        }

        @include media(w768) {
            font-size: 16px;
        }
    }
}