$trans: all 0.3s ease;

$content-max-width: 1310px;

$container-side-padding-pc: 30px;
$container-side-padding-tablet: 15px;

$input-font-size-pc: 25px;
$input-font-size-tablet: 16px;
$input-font-size-mobile: 25px;

$btn-height-pc: 96px;
$btn-height-tablet: 68px;
$btn-height-mobile: 98px;

$btn-font-size-pc: 30px;
$btn-font-size-tablet: 20px;
$btn-font-size-mobile: $btn-font-size-tablet;


$brown-main: #9e6e30;
$red-main: rgba(149,46,46, 1);
$gray-main: #ebecec;

$btn-main-bg: $brown-main;
$footer-bg: white;
$footer-text: black;

// $color-main--lightest: #CBF3BF;
// $color-main--lighten:  #ACEF97;
// $color-main--light:    #74EA4F;
// $color-main:           #3FD411;
// $color-main--dark:     #39BA11;
// $color-main--darken:   #329F11;
// $color-main--darkest:  #184B09;