section.sec.sec1
    div.outer-container.sec1__outer-container
        include header
        div.container.ta-center
            h1.bold.tt-uppercase.sec1__title.
                Станьте владельцем бургер-бара с авторским меню
            h3.sec1__subtitle.
                Зарабатывайте от 250 000 рублей в месяц
            button.btn-round.btn-round_download.js-small-btn.
                Скачать презентацию