section.sec.sec2
    img(src="img/sec2-decor-burger.png", alt="").sec2__decor
    img(src="img/g-decor-seeds.png", alt="").sec2__seeds
    div.container
        h3.tt-uppercase.sec2__heading.bold.mb1
            |В 2016 году оборот общественного питания в России, несмотря на кризис, 
            span.color-red.
                превысил 1,2 ТРЛН рублей
        div.sec2__imgs
            p.m.sec2__imgs-title.mb3.
                Темп жизни современного человека растет с каждым днем - и питание "вне дома" становится все актуальнее
            img(src="img/sec2-decor-tomato.png", alt="").sec2__imgs-note-tomato
            div.sec2__imgs-note
                img(src="img/sec2-pig.png", alt="").sec2__imgs-pig
                div.sec2__imgs-note-text
                    p.m.
                        В связи с этим, появляются<br> заведения нового формата
                    h3.
                        Особой популярностью<br> среди которых, сегодня<br> пользуются бургерные
                img(src="img/sec2-decor-note.png", alt="").sec2__imgs-note-bg
            div.sec2__imgs-burger-wrap
                img(src="img/sec2-burger-bg1.jpg", alt="").sec2__imgs-burger
                img(src="img/sec2-decor-small.png", alt="").sec2__imgs-decor-leaf
    div.sec2__bg
        img(src="img/sec2-pig.png", alt="").sec2__bg-pig
        img(src="img/sec2-decor-tomato.png", alt="").sec2__bg-tomato
    div.container.sec2__bottom-container
        div.sec2__bottom-imgs
            img(src="img/g-decor-seeds.png", alt="").sec2__bottom-imgs-seeds
            div.sec2__bottom-imgs-note
                div.sec2__bottom-imgs-note-text
                    h3.mb1.
                        В них бургеры готовят из фермерских продуктов – прямо при вас!
                    p.m.
                        А благодаря тому, что каждый день повара изобретают всё новые разновидности, они просто не успевают надоесть
            div.sec2__bottom-imgs-bg-wrap
                img(src="img/sec2-burger-bg2.jpg", alt="").sec2__bottom-imgs-bg
                img(src="img/sec2-decor-tomatos.png", alt="").sec2__bottom-imgs-decor
                img(src="img/sec2-decor-small-darken.png", alt="").sec2__bottom-imgs-decor-darken
        h3.tt-uppercase.sec2__bottom-heading.bold.mb1.ta-center
            |2014 году мы открыли бургерную<br> в уникальном формате 
            span.color-red.
                - бар с авторской подачей более 30 видов бургеров
        div.ta-center
            button.btn-round.btn-round_download.js-small-btn.sec2__btn.
                Скачать презентацию
    img(src="img/sec2-cow.png", alt="").sec2__cow
    img(src="img/sec2-decor-burger-bottom.png", alt="").sec2__decor-burger
    img(src="img/sec2-decor-tomatos.png", alt="").sec2__tomatos