section.sec.sec3
    div.sec3__top
        div.container.sec3__top-container
            h3.ta-center.color-white.sec3__top-heading
                |Благодаря необычному формату<br>
                |
                span.tt-uppercase.
                    «Парбург» оставил конкурентов в стороне<br> с момента открытия
    div.sec3__center
        div.container
            div.sec3__row
                div.sec3__col
                    div.sec3__note
                        div.sec3__note-content
                            p.sec3__title.
                                В нашем заведении царит<br> атмосфера душевности<br> и высокой кухни! 
                            img(src="img/sec3-decor-line1.png", alt="").sec3__note-decor
                            p.m.sec3__note-text
                                |Мы возвели бургеры в культ эксклюзивного блюда, создание и подача которого – 
                                |
                                span.bold.
                                    настоящее искусство!
                div.sec3__col
                    div.sec3__note
                        div.sec3__note-content
                            p.sec3__title.
                                К нам приходят люди,<br> которые хотят не просто<br> «умять» бургер:
                            img(src="img/sec3-decor-line2.png", alt="").sec3__note-decor
                            p.m.sec3__note-text.
                                Они хотят насладиться блюдом, в которое вложена душа и мастерство шеф-повара
    div.sec3__bottom
        div.container.ta-center
            h3.sec3__bottom-title.mb1
                |Из тридцати авторских бургеров<br> каждый находит «тот самый»<br class="br-mobile"> 
                |
                span.bold.color-red.tt-uppercase
                    |– что позволяет нам<br> зарабатывать ОТ 250 000
                    span.rouble.
                        .
                    |/мес
            button.btn-round.btn-round_download.js-small-btn.sec3__bottom-btn.
                Скачать презентацию