section.sec.sec4
    div.container
        div.sec4__head
            h3.ta-center.bold
                span.sec4__head-text-wrap
                    span.color-red.
                        В 2017 году мы ищем партнёров<br>
                    |
                    |для открытия новых бургер-баров под брендом «Парбург»
                    img(src="img/sec4-decor-leaf.png", alt="").sec4__head-img
        div.sec4__mobile
            img(src="img/sec4-mobile-left.png", alt="").sec4__mobile-img.sec4__mobile-img_left
            img(src="img/sec4-mobile-right.png", alt="").sec4__mobile-img.sec4__mobile-img_right
        div.sec4__note
            h3.mb1.
                Наша бизнес-модель<br> оптимизирована<br> по-максимуму:<br> вся работа сводится<br> к контролю работы<br> ресторана.
            p.m.
                Люди рассказывают друг другу<br> о нашем ресторане, и мы экономим<br> на рекламе – так же будет и у вас
        div.sec4__img-wrap
            img(src="img/sec4-bg.jpg", alt="").sec4__img
            img(src="img/sec4-decor-leaf-big.png", alt="").sec4__decor-leaf
            img(src="img/sec4-decor-pepper.png", alt="").sec4__decor-pepper