section.sec.sec6
    img(src="img/sec6-decor-tomato.png", alt="").sec6__decor.sec6__decor_left
    img(src="img/sec6-decor-burger.png", alt="").sec6__decor.sec6__decor_right
    div.container
        div.sec6__row
            div.sec6__col.sec6__col_left
                div.sec6__note
                    h3.ta-center.mb0.
                        Вы получите всё,<br> чтобы произвести фурор<br> на рынке фаст-фуда<br> в вашем городе!
                div.sec6__img-wrap
                    img(src="img/sec6-img.jpg", alt="").sec6__img
            div.sec6__col
                div.sec6__investments
                    h3.tt-uppercase.sec6__investments-title.bold.
                        Необходимый<br> капитал<br> для открытия
                    div.sec6__investments-summ
                        span.
                            5
                        |
                        |млн рублей
                    p.m.sec6__investments-text.
                        Это инвестиции на подготовку помещения, закупку оборудования и масштабный запуск, о котором узнает каждый любитель бургеров в вашем городе!
        div.sec6__btn-wrap
            p.m.mb1.
                Скачать финансовую таблицу
            button.btn-round.btn-round_red.btn-round_download.js-small-btn.sec6__btn.
                Скачать таблицу